<div class="jumbotron">
  <div class="container">
    <h1>Cake Me Out</h1>
    <h3>Cakes That Make The Occasion.</h3>
    <p><%= time_tag(Time.now) %></p>
  </div>
  <div>
    <h3>Testimonials and other stuff...</h3>
  </div>
</div>