<div class="page-header">
  <h1> <%= link_to 'Cake Me Out', root_path %> <small>Cakes that make the occasion</small></h1>
</div>

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'CakeMeOut', root_path, class: 'navbar-brand' %></li>
        <li><%= link_to 'Gallery', finished_cakes_path %></li>
        <li><%# link_to 'Servings & Prices', serv_and_price_cakemeout_index_path %></li>
        <li><%# link_to 'Order a Cake', cake_order_cakemeout_index_path %></li>
        <%# link_to 'Flavors' %>
        <%# link_to 'FAQ' %>
        <%# link_to 'Testimonials' %>
      </ul>
    </div>
  </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <p class="navbar-text"><%= time_tag(Time.now) %></p>
      </li>
      <!-- <li class="Language">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="?locale=en">English</a></li>
          <li><a href="?locale=es">Español</a></li>
        </ul>
      </li> -->
    </ul>

  <!-- </div> --><!-- /.navbar-collapse -->
</nav>
